.address {
  margin-left: auto;

  &-link {
    color: $primary-text-color;
    fill: $primary-text-color;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: inline-flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover,
  &-link:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  &-link > svg {
    margin-right: 10px;
  }

  &-list {
    display: flex;
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }
}
